In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder\
                    .appName("Hello London Crime")\
.getOrCreate()

In [3]:
data = spark.read\
.format("csv")\
.option("header","true")\
.load("london_crime_by_lsoa.csv")

In [4]:
data.printSchema()

root
 |-- lsoa_code: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [5]:
data.count()

6265118

In [6]:
data.limit(5).show()

+---------+----------+--------------------+--------------------+-----+----+-----+
|lsoa_code|   borough|      major_category|      minor_category|value|year|month|
+---------+----------+--------------------+--------------------+-----+----+-----+
|E01001116|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+---------+----------+--------------------+--------------------+-----+----+-----+

In [7]:
data.dropna()

DataFrame[lsoa_code: string, borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [8]:
data = data.drop("lsoa_code")

data.show(5)

+----------+--------------------+--------------------+-----+----+-----+
|   borough|      major_category|      minor_category|value|year|month|
+----------+--------------------+--------------------+-----+----+-----+
|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+----------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

In [9]:
total = data.select("borough")\
.distinct()
total.show()

+--------------------+
|             borough|
+--------------------+
|             Croydon|
|          Wandsworth|
|              Bexley|
|             Lambeth|
|Barking and Dagenham|
|              Camden|
|           Greenwich|
|              Newham|
|       Tower Hamlets|
|            Hounslow|
|              Barnet|
|              Harrow|
|Kensington and Ch...|
|           Islington|
|               Brent|
|            Haringey|
|             Bromley|
|              Merton|
|         Westminster|
|             Hackney|
+--------------------+
only showing top 20 rows

In [10]:
total.show()

+--------------------+
|             borough|
+--------------------+
|             Croydon|
|          Wandsworth|
|              Bexley|
|             Lambeth|
|Barking and Dagenham|
|              Camden|
|           Greenwich|
|              Newham|
|       Tower Hamlets|
|            Hounslow|
|              Barnet|
|              Harrow|
|Kensington and Ch...|
|           Islington|
|               Brent|
|            Haringey|
|             Bromley|
|              Merton|
|         Westminster|
|             Hackney|
+--------------------+
only showing top 20 rows

In [11]:
hackney = data.filter(data['borough'] == 'Hackney')
hackney.show()

+-------+--------------------+--------------------+-----+----+-----+
|borough|      major_category|      minor_category|value|year|month|
+-------+--------------------+--------------------+-----+----+-----+
|Hackney|     Criminal Damage|Criminal Damage T...|    0|2011|    6|
|Hackney|Violence Against ...|          Harassment|    1|2013|    2|
|Hackney|     Criminal Damage|Other Criminal Da...|    0|2011|    7|
|Hackney|Violence Against ...|        Wounding/GBH|    0|2013|   12|
|Hackney|  Theft and Handling|  Other Theft Person|    0|2016|    8|
|Hackney|            Burglary|Burglary in a Dwe...|    2|2008|    5|
|Hackney|             Robbery|   Business Property|    0|2016|    7|
|Hackney|  Theft and Handling|Theft/Taking of P...|    0|2009|   12|
|Hackney|               Drugs|    Drug Trafficking|    0|2014|    4|
|Hackney|  Theft and Handling|Handling Stolen G...|    0|2014|    6|
|Hackney|            Burglary|Burglary in Other...|    0|2008|   12|
|Hackney|Violence Against ...| Assault with Injury|    0|2010|    1|
|Hackney|  Theft and Handling|  Other Theft Person|    0|2008|    8|
|Hackney|Violence Against ...| Assault with Injury|    2|2015|    5|
|Hackney|  Theft and Handling|Theft/Taking Of M...|    0|2009|   12|
|Hackney|Violence Against ...|    Offensive Weapon|    0|2015|    9|
|Hackney|Violence Against ...|          Harassment|    2|2008|   10|
|Hackney|Violence Against ...|          Harassment|    0|2015|    3|
|Hackney|  Theft and Handling|  Other Theft Person|    1|2009|    5|
|Hackney|Other Notifiable ...|    Other Notifiable|    0|2008|    9|
+-------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

In [12]:
date_2015 = data.filter(data['year'].isin(['2015','2016']))
date_2015.sample(fraction=0.1).show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|            Lewisham|Violence Against ...|      Common Assault|    0|2016|    2|
|             Croydon|             Robbery|   Personal Property|    0|2016|    1|
|            Hounslow|Violence Against ...|    Offensive Weapon|    1|2015|   10|
|              Newham|Violence Against ...|          Harassment|    0|2015|    8|
|           Redbridge|               Drugs| Possession Of Drugs|    2|2016|   11|
|          Wandsworth|     Criminal Damage|Criminal Damage T...|    0|2016|   12|
|Hammersmith and F...|  Theft and Handling|Theft/Taking Of M...|    1|2016|   12|
|Barking and Dagenham|     Criminal Damage|Criminal Damage T...|    4|2015|    6|
|             Enfield|Violence Against ...|      Other violence|    0|2016|    9|
|       Tower Hamlets|Violence Against ...|          Harassment|    2|2015|   11|
|            Havering|Violence Against ...|    Offensive Weapon|    0|2016|   11|
|           Greenwich|Violence Against ...|    Offensive Weapon|    0|2016|    3|
|            Hounslow|     Criminal Damage|Other Criminal Da...|    1|2016|    2|
|           Redbridge|  Theft and Handling|Motor Vehicle Int...|    0|2015|    6|
|            Haringey|Violence Against ...| Assault with Injury|    2|2015|    3|
|           Redbridge|     Criminal Damage|Other Criminal Da...|    0|2016|    5|
|       Tower Hamlets|  Theft and Handling|         Other Theft|    2|2016|    1|
|           Islington|Violence Against ...|    Offensive Weapon|    0|2016|    5|
|           Greenwich|             Robbery|   Personal Property|    1|2016|    7|
|             Hackney|            Burglary|Burglary in Other...|    0|2016|    9|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows