In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder\
                    .appName("Analyzing London crime data")\
                    .getOrCreate()

In [4]:
data = spark.read\
            .format("csv")\
            .option("header","true")\
            .load("/home/yashchhabria/Downloads/london_crime_by_lsoa.csv")

In [5]:
data.printSchema()

root
 |-- lsoa_code: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [6]:
data.count()

13490604

In [7]:
data.limit(5).show()

+---------+----------+--------------------+--------------------+-----+----+-----+
|lsoa_code|   borough|      major_category|      minor_category|value|year|month|
+---------+----------+--------------------+--------------------+-----+----+-----+
|E01001116|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+---------+----------+--------------------+--------------------+-----+----+-----+

In [8]:
data.show()

+---------+--------------------+--------------------+--------------------+-----+----+-----+
|lsoa_code|             borough|      major_category|      minor_category|value|year|month|
+---------+--------------------+--------------------+--------------------+-----+----+-----+
|E01001116|             Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646|           Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|             Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774|           Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|          Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
|E01001320|              Ealing|  Theft and Handling|         Other Theft|    0|2012|    5|
|E01001342|              Ealing|Violence Against ...|    Offensive Weapon|    0|2010|    7|
|E01002633|            Hounslow|             Robbery|   Personal Property|    0|2013|    4|
|E01003496|              Newham|     Criminal Damage|Criminal Damage T...|    0|2013|    9|
|E01004177|              Sutton|  Theft and Handling|Theft/Taking of P...|    1|2016|    8|
|E01001985|            Haringey|  Theft and Handling|Motor Vehicle Int...|    0|2013|   12|
|E01003076|             Lambeth|Violence Against ...|      Other violence|    0|2015|    4|
|E01003852|Richmond upon Thames|             Robbery|   Personal Property|    0|2014|    1|
|E01004547|          Wandsworth|Violence Against ...|    Offensive Weapon|    0|2011|   10|
|E01002398|          Hillingdon|  Theft and Handling|Theft/Taking Of M...|    0|2016|    2|
|E01002358|            Havering|Violence Against ...|        Wounding/GBH|    0|2012|    2|
|E01000086|Barking and Dagenham|  Theft and Handling|  Other Theft Person|    1|2009|    5|
|E01003708|           Redbridge|Violence Against ...|      Common Assault|    0|2009|    6|
|E01002945|Kingston upon Thames|  Theft and Handling|    Theft From Shops|    0|2016|   11|
|E01004195|              Sutton|               Drugs| Possession Of Drugs|    0|2009|   10|
+---------+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

In [9]:
data.dropna()

DataFrame[lsoa_code: string, borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [10]:
data = data.drop("lsoa_code")
data.show(5)

+----------+--------------------+--------------------+-----+----+-----+
|   borough|      major_category|      minor_category|value|year|month|
+----------+--------------------+--------------------+-----+----+-----+
|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+----------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

In [13]:
total = data.select("borough")\
            .distinct()
total.collect()

[Row(borough='Croydon'),
 Row(borough='Wandsworth'),
 Row(borough='Bexley'),
 Row(borough='Lambeth'),
 Row(borough='Barking and Dagenham'),
 Row(borough='Camden'),
 Row(borough='Greenwich'),
 Row(borough='Newham'),
 Row(borough='Tower Hamlets'),
 Row(borough='Hounslow'),
 Row(borough='Barnet'),
 Row(borough='Harrow'),
 Row(borough='Kensington and Chelsea'),
 Row(borough='Islington'),
 Row(borough='Brent'),
 Row(borough='Haringey'),
 Row(borough='Bromley'),
 Row(borough='Merton'),
 Row(borough='Westminster'),
 Row(borough='Hackney'),
 Row(borough='Southwark'),
 Row(borough='Enfield'),
 Row(borough='Ealing'),
 Row(borough='Sutton'),
 Row(borough='Hammersmith and Fulham'),
 Row(borough='Kingston upon Thames'),
 Row(borough='Havering'),
 Row(borough='Hillingdon'),
 Row(borough='Waltham Forest'),
 Row(borough='Richmond upon Thames'),
 Row(borough='Redbridge'),
 Row(borough='City of London'),
 Row(borough='Lewisham')]

In [14]:
total.count()

33

In [15]:
datahack = data.filter(data["borough"]=="Hackney")
datahack.show(5)

+-------+--------------------+--------------------+-----+----+-----+
|borough|      major_category|      minor_category|value|year|month|
+-------+--------------------+--------------------+-----+----+-----+
|Hackney|     Criminal Damage|Criminal Damage T...|    0|2011|    6|
|Hackney|Violence Against ...|          Harassment|    1|2013|    2|
|Hackney|     Criminal Damage|Other Criminal Da...|    0|2011|    7|
|Hackney|Violence Against ...|        Wounding/GBH|    0|2013|   12|
|Hackney|  Theft and Handling|  Other Theft Person|    0|2016|    8|
+-------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

In [16]:
datayear = data.filter(data["year"].isin(["2015","2016"]))

In [17]:
datayear.show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|             Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|           Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|             Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|           Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|              Sutton|  Theft and Handling|Theft/Taking of P...|    1|2016|    8|
|             Lambeth|Violence Against ...|      Other violence|    0|2015|    4|
|          Hillingdon|  Theft and Handling|Theft/Taking Of M...|    0|2016|    2|
|Kingston upon Thames|  Theft and Handling|    Theft From Shops|    0|2016|   11|
|            Haringey|Violence Against ...|        Wounding/GBH|    0|2015|   12|
|            Lewisham|Violence Against ...|      Common Assault|    0|2016|    2|
|            Hounslow|     Criminal Damage|Criminal Damage T...|    0|2015|    2|
|             Bromley|     Criminal Damage|Criminal Damage T...|    1|2016|    4|
|            Haringey|     Criminal Damage|Criminal Damage T...|    0|2016|   12|
|           Southwark|               Drugs| Possession Of Drugs|    0|2015|    3|
|            Havering|    Fraud or Forgery|  Counted per Victim|    0|2015|   11|
|      Waltham Forest|Other Notifiable ...|      Going Equipped|    0|2015|    2|
|              Ealing|             Robbery|   Personal Property|    0|2015|    7|
|               Brent|  Theft and Handling|Motor Vehicle Int...|    0|2015|    9|
|            Hounslow|Violence Against ...|        Wounding/GBH|    2|2015|    8|
|           Southwark|  Theft and Handling|    Theft From Shops|    4|2016|    8|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

In [19]:
datayear.sample(fraction=0.1)

DataFrame[borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [20]:
datagr= data.groupby("borough")\
            .count()

In [21]:
datagr.show()

+--------------------+------+
|             borough| count|
+--------------------+------+
|             Croydon|602100|
|          Wandsworth|498636|
|              Bexley|385668|
|             Lambeth|519048|
|Barking and Dagenham|311040|
|              Camden|378432|
|           Greenwich|421200|
|              Newham|471420|
|       Tower Hamlets|412128|
|            Hounslow|395928|
|              Barnet|572832|
|              Harrow|365688|
|Kensington and Ch...|296784|
|           Islington|359208|
|               Brent|490644|
|            Haringey|413856|
|             Bromley|523908|
|              Merton|339876|
|         Westminster|366660|
|             Hackney|417744|
+--------------------+------+
only showing top 20 rows

In [26]:
datasum = data.groupby("borough")\
              .agg({"value":"sum"})\
              .withColumnRenamed("sum(value)","convictions")  
datasum.show()

+--------------------+-----------+
|             borough|convictions|
+--------------------+-----------+
|             Croydon|   260294.0|
|          Wandsworth|   204741.0|
|              Bexley|   114136.0|
|             Lambeth|   292178.0|
|Barking and Dagenham|   149447.0|
|              Camden|   275147.0|
|           Greenwich|   181568.0|
|              Newham|   262024.0|
|       Tower Hamlets|   228613.0|
|            Hounslow|   186772.0|
|              Barnet|   212191.0|
|              Harrow|   116848.0|
|Kensington and Ch...|   171981.0|
|           Islington|   230286.0|
|               Brent|   227551.0|
|            Haringey|   213272.0|
|             Bromley|   184349.0|
|              Merton|   115654.0|
|         Westminster|   455028.0|
|             Hackney|   217119.0|
+--------------------+-----------+
only showing top 20 rows

In [29]:
datacons = datasum.agg({"convictions":"sum"})
datacons.show()

+----------------+
|sum(convictions)|
+----------------+
|       6447758.0|
+----------------+

In [30]:
totalcon = datacons.collect()[0][0]
totalcon

6447758.0

In [32]:
import pyspark.sql.functions as func

In [35]:
#withcolumn creates new columns 
boro_per = datasum.withColumn(
    "% contri",
    func.round(datasum.convictions/totalcon*100,2))
boro_per.show()

+--------------------+-----------+--------+
|             borough|convictions|% contri|
+--------------------+-----------+--------+
|             Croydon|   260294.0|    4.04|
|          Wandsworth|   204741.0|    3.18|
|              Bexley|   114136.0|    1.77|
|             Lambeth|   292178.0|    4.53|
|Barking and Dagenham|   149447.0|    2.32|
|              Camden|   275147.0|    4.27|
|           Greenwich|   181568.0|    2.82|
|              Newham|   262024.0|    4.06|
|       Tower Hamlets|   228613.0|    3.55|
|            Hounslow|   186772.0|     2.9|
|              Barnet|   212191.0|    3.29|
|              Harrow|   116848.0|    1.81|
|Kensington and Ch...|   171981.0|    2.67|
|           Islington|   230286.0|    3.57|
|               Brent|   227551.0|    3.53|
|            Haringey|   213272.0|    3.31|
|             Bromley|   184349.0|    2.86|
|              Merton|   115654.0|    1.79|
|         Westminster|   455028.0|    7.06|
|             Hackney|   217119.0|    3.37|
+--------------------+-----------+--------+
only showing top 20 rows

In [36]:
boro_per.orderBy(boro_per[2].desc())\
        .show()

+--------------------+-----------+--------+
|             borough|convictions|% contri|
+--------------------+-----------+--------+
|         Westminster|   455028.0|    7.06|
|             Lambeth|   292178.0|    4.53|
|           Southwark|   278809.0|    4.32|
|              Camden|   275147.0|    4.27|
|              Newham|   262024.0|    4.06|
|             Croydon|   260294.0|    4.04|
|              Ealing|   251562.0|     3.9|
|           Islington|   230286.0|    3.57|
|       Tower Hamlets|   228613.0|    3.55|
|               Brent|   227551.0|    3.53|
|             Hackney|   217119.0|    3.37|
|            Lewisham|   215137.0|    3.34|
|            Haringey|   213272.0|    3.31|
|              Barnet|   212191.0|    3.29|
|          Hillingdon|   209680.0|    3.25|
|          Wandsworth|   204741.0|    3.18|
|      Waltham Forest|   203879.0|    3.16|
|             Enfield|   193880.0|    3.01|
|            Hounslow|   186772.0|     2.9|
|Hammersmith and F...|   185259.0|    2.87|
+--------------------+-----------+--------+
only showing top 20 rows

In [ ]:
data.crosstab("borough","major_category")\